--pre
--extra-index-url https://download.pytorch.org/whl/nightly/cpu

numpy==1.24.1
torch==2.0.0.dev20230112
torchvision==0.15.0.dev20230112
flask==2.2.2
pytest==7.2.0
python-dotenv==0.21.0
PyYAML==6.0
setuptools==65.6.3
matplotlib==3.6.3
networkx==3.0rc1
requests==2.28.2
torchmetrics==0.11.0
Pillow==9.4.0
ansi2html==1.8.0
Werkzeug==2.2.2
pycryptodome==3.16.0