{
  "name": "topology-1",
  "type": "fully",
  "controller": {
    "ip": "127.0.0.1",
    "port": 6633
  },
  "nodes": [
    {
      "ipdemo": "127.0.0.1",
      "ip": "127.0.0.1",
      "port": 45001
    },
    {
      "ipdemo": "127.0.0.1",
      "ip": "127.0.0.1",
      "port": 45002
    },
    {
      "ipdemo": "127.0.0.1",
      "ip": "127.0.0.1",
      "port": 45003
    }
  ]
}