{% extends "layout.html" %}
{% block page_title %}Fedstellar: A Platform for Decentralized Federated Learning{% endblock %}
{% block body %}
{{ super() }}

<br>
<div class="col-md-12 container-shadow">
    <div class="col-md-6">
        <h3>Introduction</h3>
        <p>Fedstellar is an innovative platform that facilitates the training of federated learning models in a decentralized fashion across many physical and virtualized devices. Also, the platform enables the creation of a standard approach for developing, deploying, and managing federated
            applications.</p>
        <p>The platform supports the establishment of federations comprising diverse devices, network topologies, and algorithms. It also provides sophisticated federation management tools and performance metrics to facilitate efficient learning process monitoring. This is achieved through
            extensible
            modules that offer data storage and asynchronous capabilities alongside efficient mechanisms for model training, communication, and comprehensive analysis for federation monitoring.
        </p>
        <p>The platform incorporates a modular architecture comprising three elements:</p>
        <ul>
            <li><b>Frontend</b>: A user-friendly frontend for experiment setup and monitoring.</li>
            <li><b>Controller</b>: A controller for effective orchestration of operations.</li>
            <li><b>Core</b>: A core component deployed in each device for model training and communication.</li>
        </ul>
        <p>Fedstellar is developed by <a href="https://enriquetomasmb.com/">Enrique Tomás Martínez Beltrán</a> in collaboration with the <a href="https://um.es/en">University of Murcia</a>, <a href="https://www.armasuisse.ch/">Armasuisse</a> and the <a href="https://www.uzh.ch/">University of Zurich
            (UZH)</a>.</p>

        <h3>Documentation</h3>
        <p>The documentation of the platform is available <a href="https://fedstellar.enriquetomasmb.com/">here</a>. The documentation includes an <a href="https://fedstellar.enriquetomasmb.com/7ecafa3f19d05b4e9da98f734fd69aca7baa4965/installation.html">installation guide</a> and an <a
                href="https://fedstellar.enriquetomasmb.com/7ecafa3f19d05b4e9da98f734fd69aca7baa4965/api/index.html">API reference</a>.</p>
    </div>
    <div class="col-md-6">
        <h3>Functionality Demonstration</h3>
        <p>The following video shows the functionality of the platform. It shows how to create a decentralized topology with different nodes using collaborative learning.</p>
        <div class="video-container">
            <iframe class="video" src="https://www.youtube-nocookie.com/embed/J_6OjNiIP3Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
    </div>
</div>

<div class="col-md-12 container-shadow">
    <h3>Publications</h3>
    <p>Please cite the following publications if you use Fedstellar in your research</p>
    <div class="publication">
        <div class="publication-logo">
            <img src="{{ url_for('static', filename='img/publications/arxiv.png') }}" alt="Fedstellar: A Platform for Decentralized Federated Learning">
        </div>
        <div class="publication-info">
            <h4><a href="https://arxiv.org/abs/2306.09750">Fedstellar: A Platform for Decentralized Federated Learning</a></h4>
            <p><b>Enrique Tomás Martínez Beltrán</b>, Ángel Luis Perales Gómez, Chao Feng, Pedro Miguel Sánchez Sánchez, Sergio López Bernal, Gérôme Bovet, Manuel Gil Pérez, Gregorio Martínez Pérez, Alberto Huertas Celdrán</p>
            <button class="bibtex-button" onclick="window.open('https://arxiv.org/abs/2306.09750')">Paper</button>
            <button class="bibtex-button" onclick="copyToClipboard('bibtex1')">Copy BibTeX</button>
            <div id="bibtex1" style="display: none;">
                {% raw %}
                @article{MartinezBeltran:Fedstellar:2023,
                title = {{Fedstellar: A Platform for Decentralized Federated Learning}},
                author = {Mart{\'i}nez Beltr{\'a}n, Enrique Tom{\'a}s and Perales G\'omez, \'Angel Luis and Feng, Chao and S{\'a}nchez S{\'a}nchez, Pedro Miguel and L{\'o}pez Bernal, Sergio and Bovet, G{\'e}r{\^o}me and Gil P{\'e}rez, Manuel and Mart{\'i}nez P{\'e}rez, Gregorio and Huertas
                Celdr{\'a}n, Alberto},
                journal = {arXiv preprint arXiv:2306.09750},
                year = {2023}
                }
                {% endraw %}
            </div>
        </div>
    </div>
    <div class="publication">
        <div class="publication-logo">
            <img src="{{ url_for('static', filename='img/publications/arxiv.png') }}" alt="Decentralized Federated Learning: Fundamentals, State-of-the-art, Frameworks, Trends, and Challenges">
        </div>
        <div class="publication-info">
            <h4><a href="https://arxiv.org/abs/2211.08413">Decentralized Federated Learning: Fundamentals, State-of-the-art, Frameworks, Trends, and Challenges</a></h4>
            <p><b>Enrique Tomás Martínez Beltrán</b>, Mario Quiles Pérez, Pedro Miguel Sánchez Sánchez, Sergio López Bernal, Gérôme Bovet, Manuel Gil Pérez, Gregorio Martínez Pérez, Alberto Huertas Celdrán</p>
            <button class="bibtex-button" onclick="window.open('https://arxiv.org/abs/2211.08413')">Paper</button>
            <button class="bibtex-button" onclick="copyToClipboard('bibtex2')">Copy BibTeX</button>
            <div id="bibtex2" style="display: none;">
                {% raw %}
                @article{MartinezBeltran:DFL:2023,
                title={{Decentralized Federated Learning: Fundamentals, State-of-the-art, Frameworks, Trends, and Challenges}},
                author={Mart{\'i}nez Beltr{\'a}n, Enrique Tom{\'a}s and Quiles P{\'e}rez, Mario and S{\'a}nchez S{\'a}nchez, Pedro Miguel and L{\'o}pez Bernal, Sergio and Bovet, G{\'e}r{\^o}me and Gil P{\'e}rez, Manuel and Mart{\'i}nez P{\'e}rez, Gregorio and Huertas Celdr{\'a}n, Alberto},
                journal={arXiv preprint arXiv:2211.08413},
                year={2023}
                }
                {% endraw %}
            </div>

        </div>
    </div>
    <div class="publication">
        <div class="publication-logo">
            <img src="{{ url_for('static', filename='img/publications/arxiv.png') }}" alt="Mitigating Communications Threats in Decentralized Federated Learning through Moving Target Defense">
        </div>
        <div class="publication-info">
            <h4><a href="https://arxiv.org/abs/2307.11730">Mitigating Communications Threats in Decentralized Federated Learning through Moving Target Defense</a></h4>
            <p><b>Enrique Tomás Martínez Beltrán</b>, Pedro Miguel Sánchez Sánchez, Sergio López Bernal, Gérôme Bovet, Manuel Gil Pérez, Gregorio Martínez Pérez, Alberto Huertas Celdrán</p>
            <button class="bibtex-button" onclick="window.open('https://arxiv.org/abs/2307.11730')">Paper</button>
            <button class="bibtex-button" onclick="copyToClipboard('bibtex3')">Copy BibTeX</button>
            <div id="bibtex3" style="display: none;">
                {% raw %}
                @article{MartinezBeltran:DFL_mitigation:2023,
                title={{Mitigating Communications Threats in Decentralized Federated Learning through Moving Target Defense}},
                author={Mart{\'i}nez Beltr{\'a}n, Enrique Tom{\'a}s and S{\'a}nchez S{\'a}nchez, Pedro Miguel and L{\'o}pez Bernal, Sergio and Bovet, G{\'e}r{\^o}me and Gil P{\'e}rez, Manuel and Mart{\'i}nez P{\'e}rez, Gregorio and Huertas Celdr{\'a}n, Alberto},
                journal={arXiv preprint arXiv:2307.11730},
                year={2023}
                }
                {% endraw %}
            </div>

        </div>
    </div>
</div>

<div class="col-md-12 container-shadow">
    <h3>Contributors</h3>
    <p>Meet the people who made Fedstellar possible</p>
    <div class="row">
        <div class="col-md-6">
            <div class="contributor">
                <div class="contributor-photo">
                    <img src="{{ url_for('static', filename='img/contributors/enrique-tomas-martinez-beltran.jpg') }}" alt="Enrique Tomás Martínez Beltrán">
                </div>
                <div class="contributor-info">
                    <h4>Enrique Tomás Martínez Beltrán</h4>
                    <p><b>Ph.D. Student</b> in Computer Science at the <a href="https://www.um.es/">University of Murcia</a></p>
                    <ul>
                        <li>Fedstellar Platform: main contributor</li>
                    </ul>
                    <div class="social-icons">
                        <a href="https://enriquetomasmb.com/"><i class="fa fa-globe"></i></a>
                        <a href="https://scholar.google.es/citations?user=jSSPyXUAAAAJ"><i class="fa fa-google"></i></a>
                        <a href="mailto:enriquetomas@um.es"><i class="fa fa-envelope"></i></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="contributor">
                <div class="contributor-photo">
                    <img src="{{ url_for('static', filename='img/contributors/angel-luis.jpg') }}" alt="Ángel Luis Perales Gómez">
                </div>
                <div class="contributor-info">
                    <h4>Ángel Luis Perales Gómez</h4>
                    <p><b>Ph.D.</b> in Computer Science at the <a href="https://www.um.es/">University of Murcia</a></p>
                    <ul>
                        <li>Fedstellar Platform: time series module</li>
                    </ul>
                    <div class="social-icons">
                        <a href="https://webs.um.es/angelluis.perales/"><i class="fa fa-globe"></i></a>
                        <a href="https://scholar.google.com/citations?user=z5QMuokAAAAJ&hl=es"><i class="fa fa-google"></i></a>
                        <a href="mailto:angelluis.perales@um.es"><i class="fa fa-envelope"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="contributor">
                <div class="contributor-photo">
                    <img src="{{ url_for('static', filename='img/contributors/chao-feng.jpeg') }}" alt="Chao Feng">
                </div>
                <div class="contributor-info">
                    <h4>Chao Feng</h4>
                    <p><b>Ph.D. Student</b> in Computer Science at the <a href="https://www.uzh.ch/">University of Zurich</a></p>
                    <ul>
                        <li>Fedstellar Platform: adversarial attacks module</li>
                    </ul>
                    <div class="social-icons">
                        <a href="https://www.csg.uzh.ch/staff/feng"><i class="fa fa-globe"></i></a>
                        <a href="#"><i class="fa fa-google"></i></a>
                        <a href="mailto:cfeng@ifi.uzh.ch"><i class="fa fa-envelope"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="contributor">
                <div class="contributor-photo">
                    <img src="{{ url_for('static', filename='img/contributors/pedro-miguel.jpg') }}" alt="Pedro Miguel Sánchez Sánchez">
                </div>
                <div class="contributor-info">
                    <h4>Pedro Miguel Sánchez Sánchez</h4>
                    <p><b>Ph.D. Student</b> in Computer Science at the <a href="https://www.um.es/">University of Murcia</a></p>
                    <ul>
                        <li>Fedstellar Platform: advice</li>
                    </ul>
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-globe"></i></a>
                        <a href="https://scholar.google.com/citations?user=RMS2xxkAAAAJ&hl=en"><i class="fa fa-google"></i></a>
                        <a href="mailto:pedromiguel.sanchez@um.es"><i class="fa fa-envelope"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="contributor">
                <div class="contributor-photo">
                    <img src="{{ url_for('static', filename='img/contributors/sergio-lopez-bernal.png') }}" alt="Sergio López Bernal">
                </div>
                <div class="contributor-info">
                    <h4>Sergio López Bernal</h4>
                    <p><b>Ph.D.</b> in Computer Science at the <a href="https://www.um.es/">University of Murcia</a></p>
                    <ul>
                        <li>Fedstellar Platform: design</li>
                    </ul>
                    <div class="social-icons">
                        <a href="https://webs.um.es/slopez/"><i class="fa fa-globe"></i></a>
                        <a href="https://scholar.google.com/citations?user=tebi39sAAAAJ"><i class="fa fa-google"></i></a>
                        <a href="mailto:slopez@um.es"><i class="fa fa-envelope"></i></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="contributor">
                <div class="contributor-photo">
                    <img src="{{ url_for('static', filename='img/contributors/gerome-bovet.jpeg') }}" alt="Gérôme Bovet">
                </div>
                <div class="contributor-info">
                    <h4>Gérôme Bovet</h4>
                    <p><b>Head of Data Science at Cyber-Defence Campus.</b> <a href="https://www.ar.admin.ch/">Office fédéral de l'armement armasuisse</a></p>
                    <ul>
                        <li>Fedstellar Platform: advice and funding</li>
                    </ul>
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-globe"></i></a>
                        <a href="https://scholar.google.ch/citations?user=2KZnqU0AAAAJ"><i class="fa fa-google"></i></a>
                        <a href="mailto:gerome.bovet@armasuisse.ch"><i class="fa fa-envelope"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="contributor">
                <div class="contributor-photo">
                    <img src="{{ url_for('static', filename='img/contributors/alberto-huertas.jpg') }}" alt="Alberto Huertas Celdrán">
                </div>
                <div class="contributor-info">
                    <h4>Alberto Huertas Celdrán</h4>
                    <p><b>Ph.D.</b> in Computer Science at the <a href="https://www.uzh.ch/">University of Zurich</a></p>
                    <ul>
                        <li>Fedstellar Platform: advice and design</li>
                    </ul>
                    <div class="social-icons">
                        <a href="https://www.csg.uzh.ch/staff/Alberto-Huertas"><i class="fa fa-globe"></i></a>
                        <a href="https://scholar.google.com/citations?user=IFyGj20AAAAJ&hl=es&oi=ao"><i class="fa fa-google"></i></a>
                        <a href="mailto:huertas@ifi.uzh.ch"><i class="fa fa-envelope"></i></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="contributor">
                <div class="contributor-photo">
                    <img src="{{ url_for('static', filename='img/contributors/gregorio-martinez-perez.jpg') }}" alt="Gregorio Martínez Pérez">
                </div>
                <div class="contributor-info">
                    <h4>Gregorio Martínez Pérez</h4>
                    <p><b>Ph.D.</b> in Computer Science at the <a href="https://www.um.es/">University of Murcia</a></p>
                    <ul>
                        <li>Fedstellar Platform: advice and funding</li>
                    </ul>
                    <div class="social-icons">
                        <a href="https://webs.um.es/gregorio/"><i class="fa fa-globe"></i></a>
                        <a href="http://scholar.google.com/citations?user=l1scgGQAAAAJ"><i class="fa fa-google"></i></a>
                        <a href="mailto:gregorio@um.es"><i class="fa fa-envelope"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function copyToClipboard(id) {
        var bibtex = document.getElementById(id).innerText;
        navigator.clipboard.writeText(bibtex)
            .then(() => {
                alert('BibTeX copied to clipboard');
            })
            .catch(err => {
                alert('Error in copy: ' + err);
            });
    }
</script>


<style>
    .video-container {
        position: relative;
        padding-bottom: 56.25%;
    }

    .video-container iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .video {
        aspect-ratio: 16 / 9;
        width: 100%;
    }
</style>

<style>
    .publication {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid #ecf0f1;
    }

    .publication-logo img {
        width: 100px;
        height: auto;
        margin-right: 20px;
        transition: transform 0.3s ease-in-out;
    }

    .publication-logo img:hover {
        transform: scale(1.1);
    }

    .publication-info h4 {
        color: #3498db;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .publication-info p {
        color: #7f8c8d;
        font-size: 14px;
    }

    .publication-info a {
        color: #3498db;
        text-decoration: none;
    }

    .publication-info a:hover {
        text-decoration: underline;
    }

    .bibtex-button {
        background-color: #3498db;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        text-decoration: none;
        margin: 5px;
    }

    .bibtex-button:hover {
        background-color: #2980b9;
    }
</style>

<style>
    .contributor {
        display: flex;
        align-items: center;
        margin-bottom: 30px;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid #ecf0f1;
    }

    .contributor-photo img {
        width: 100px;
        height: auto;
        margin-right: 20px;
        transition: transform 0.3s ease-in-out;
    }

    .contributor-photo img:hover {
        transform: scale(1.1);
    }

    .contributor-info h4 {
        color: #3498db;
        font-size: 18px;
        margin-bottom: 10px;
    }

    .contributor-info p {
        color: #7f8c8d;
        font-size: 14px;
    }

    .contributor-info a {
        color: #3498db;
        text-decoration: none;
    }

    .contributor-info a:hover {
        text-decoration: underline;
    }

    .social-icons a {
        color: #3498db;
        margin-right: 10px;
        transition: transform 0.3s ease-in-out;
    }

    .social-icons a:hover {
        color: #2980b9;
        transform: scale(1.1);
    }
</style>


{% endblock %}
