{% extends "layout.html" %}
{% block page_title %}Scenario Management{% endblock %}
{% block body %}
{{ super() }}

<!-- Modal confirm -->
<div class="modal fade" id="confirm-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
            </div>
            <div id="confirm-modal-body" class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button type="button" id="yes-button" class="btn btn-primary" data-dismiss="modal">Yes</button>
            </div>
        </div>
    </div>
</div>

<h4>Scenario management using Fedstellar</h4>
<hr>

{% if not scenario_running %}

<h4>There are no deployed scenarios.</h4>
<a href="{{ url_for('fedstellar_scenario_deployment') }}" target="_blank" class="btn btn-primary">Deploy scenario</a>
<a href="http://127.0.0.1:6006" target="_blank" class="btn btn-info">Scenario statistics</a>

<hr>
{% elif scenario_running %}

<h4>There is a scenario running.</h4>

<h3>Scenario</h3>
<h5>Scenario name: <b id="scenario_name">{{ scenario_running[0] }}</b></h5>
<h5>Scenario title: <b id="scenario_title">{{ scenario_running[3] }}</b></h5>
<h5>Scenario description: <b id="scenario_description">{{ scenario_running[4] }}</b></h5>
<h5>Scenario start time: <b id="scenario_start_time">{{ scenario_running[1] }}</b></h5>

<a href="{{ url_for('fedstellar_scenario_private', scenario_name=scenario_running[0]) }}" target="_blank" class="btn btn-primary">Private page</a>

<a href="{{ url_for('fedstellar_stop_scenario', scenario_name=scenario_running[0]) }}" class="btn btn-danger">Stop scenario</a>
<a id="new-scenario-btn" href="{{ url_for('fedstellar_scenario_deployment') }}" target="_blank" class="btn btn-primary">Deploy new scenario</a>
<a href="http://127.0.0.1:6006" target="_blank" class="btn btn-info">Scenario statistics</a>
<hr>

{% endif %}

<h3>Scenarios in the database</h3>

<table id="table-scenarios" class="table small table-responsive">
    <thead>
    <tr>
        <th>Name</th>
        <th>Start time</th>
        <th>End time</th>
        <th>Title</th>
        <th>Description</th>
        <th>Status</th>
        <th>Action</th>

    </tr>
    </thead>
    {% for name, start_time, end_time, title, description, status in scenarios %}
    <tr id="scenario-vars">
        <td id="name">{{ name }}</td>
        <td id="start_time">{{ start_time }}</td>
        <td id="end_time">{{ end_time }}</td>
        <td id="title">{{ title }}</td>
        <td id="description">{{ description }}</td>
        {% if status == "running" %}
        <td id="status"><span class="label label-success">Running</span></td>
        {% else %}
        <td id="status"><span class="label label-danger">Finished</span></td>
        {% endif %}
        <td class="td-icons">
            <a href="{{ url_for('fedstellar_scenario_private', scenario_name=name) }}" target="_blank" class="label btn btn-info">Private</a>
            <a href="{{ url_for('fedstellar_scenario_monitoring', scenario_name=name) }}" target="_blank" class="label btn btn-info">Monitor</a>
            <a href="{{ url_for('fedstellar_scenario_statistics', scenario_name=name) }}" class="label btn btn-info">Download Statistics</a>
            {% if status == "running" %}
            <a href="{{ url_for('fedstellar_stop_scenario', scenario_name=name) }}" class="label btn btn-danger">Stop scenario</a>
            {% else %}
            <a id="reload-btn" data-scenario-name="{{ name }}" target="_blank" class="label btn btn-info">Reload</a>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
</table>

<style>
    .fa {
        padding: 3px;
    }

    .label {
        line-height: revert;
    }
</style>

<script>
    // When clicking on reload-btn (there are many in the document), show a modal to confirm the action
    $(document).on('click', '#reload-btn', function () {
        var scenario_name = $(this).data('scenario-name');
        $('#confirm-modal').modal('show');
        $('#confirm-modal .modal-title').text('Reload scenario');
        $('#confirm-modal #confirm-modal-body').html('Are you sure you want to reload the scenario ' + scenario_name + '?<br><br><p style="color: red">Warning: this will stop the running scenario and start a new one.</p>');
        $('#confirm-modal #yes-button').click(function () {
            window.location.href = "/scenario/" + scenario_name + "/deployment/reload";
        });
    });
</script>

<script>
    function async_update_nodes_page() {
        // Get all divs with id "scenario-vars" and update them with value returned by async GET request
        var scenario_row = document.querySelectorAll("#scenario-vars");

        // Get the table
        fetch('/api/scenario/')
            .then(function (response) {
                if (!response.ok) {
                    showAlert("danger", "Error: " + response.status + " " + response.statusText);
                    return;
                }
                // Examine the json in the response
                response.json().then(function (data) {
                    // Loop over data and create a new row for each scenario or update the existing one
                    for (var i = 0; i < data.length; i++) {
                        var scenario = data[i];
                        var scenario_name = scenario[0];
                        var scenario_start_time = scenario[1];
                        var scenario_end_time = scenario[2];
                        var scenario_title = scenario[3];
                        var scenario_description = scenario[4];
                        var scenario_status = scenario[5];

                        // Check if the scenario is already in the table
                        var scenario_found = false;
                        for (var j = 0; j < scenario_row.length; j++) {
                            var row = scenario_row[j];
                            var row_scenario_name = row.querySelector("#name").innerHTML;
                            if (row_scenario_name === scenario_name) {
                                scenario_found = true;
                                // Update the row
                                row.querySelector("#start_time").innerHTML = scenario_start_time;
                                row.querySelector("#end_time").innerHTML = scenario_end_time;
                                row.querySelector("#title").innerHTML = scenario_title;
                                row.querySelector("#description").innerHTML = scenario_description;
                                if (scenario_status == "running") {
                                    row.querySelector("#status").innerHTML = "<span class=\"label label-success\">Running</span>";
                                } else {
                                    row.querySelector("#status").innerHTML = "<span class=\"label label-danger\">Finished</span>";
                                }
                                break;
                            }
                        }
                        if (!scenario_found) {
                            // Create a new row
                            var table = document.getElementById("table-scenarios");
                            var row = table.insertRow(-1);
                            row.id = "scenario-vars";
                            var cell_name = row.insertCell(0);
                            var cell_start_time = row.insertCell(1);
                            var cell_end_time = row.insertCell(2);
                            var cell_title = row.insertCell(3);
                            var cell_description = row.insertCell(4);
                            var cell_status = row.insertCell(5);
                            var cell_icons = row.insertCell(6);
                            cell_icons.className = "td-icons";
                            cell_name.id = "name";
                            cell_start_time.id = "start_time";
                            cell_end_time.id = "end_time";
                            cell_title.id = "title";
                            cell_description.id = "description";
                            cell_status.id = "status";
                            cell_name.innerHTML = scenario_name;
                            cell_start_time.innerHTML = scenario_start_time;
                            cell_end_time.innerHTML = scenario_end_time;
                            cell_title.innerHTML = scenario_title;
                            cell_description.innerHTML = scenario_description;
                            if (scenario_status === "running") {
                                cell_status.innerHTML = "<span class=\"label label-success\">Running</span>";
                            } else {
                                cell_status.innerHTML = "<span class=\"label label-danger\">Finished</span>";
                            }
                            cell_icons.innerHTML = "<a href=\"/scenario/" + scenario_name + "/private\" target=\"_blank\" class=\"label btn btn-info\">Private</a>" +
                                "<a href=\"/scenario/" + scenario_name + "/monitoring\" class=\"label btn btn-info\">Monitor</a>"
                            cell_icons.innerHTML += "<a href=\"/scenario/" + scenario_name + "/statistics\" class=\"label btn btn-info\">Download statistics</a>";
                            if (scenario_status === "running") {
                                cell_icons.innerHTML += "<a href=\"/scenario/" + scenario_name + "/stop\" class=\"label btn btn-danger\">Stop scenario</a>"
                            } else {
                                cell_icons.innerHTML += "<a id=\"reload-btn\" data-scenario-name=\"" + scenario_name + "\" target=\"_blank\" class=\"label btn btn-info\">Reload</a>"
                            }
                        }
                    }

                    // Remove all rows that are not in the data
                    for (var i = 0; i < scenario_row.length; i++) {
                        var row = scenario_row[i];
                        var row_scenario_name = row.querySelector("#name").innerHTML;
                        var scenario_found = false;
                        for (var j = 0; j < data.length; j++) {
                            var scenario = data[j];
                            var scenario_name = scenario[0];
                            if (row_scenario_name === scenario_name) {
                                scenario_found = true;
                                break;
                            }
                        }
                        if (!scenario_found) {
                            row.parentNode.removeChild(row);
                        }
                    }

                });
            })
    }

    window.onload = async function () {
        await async_update_nodes_page();
    };
    setInterval(async_update_nodes_page, 2000); // Update every 2 seconds
</script>

{% endblock %}